body,html{
	height: 100%;
	width: 100%;
	font-family: "微软雅黑";
}
#all{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
/* 网站导航 */
#nav {
	width: 480px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 30px;
}
li	a{
	color: #FFFFFF;
	font-family: "微软雅黑";
	text-shadow: 1px 1px 1px rgba(0,0,0,3);
	text-decoration: none;
}
a:hover{
	color: #000000;
	border-bottom: 1px solid #555151;
	text-shadow: none;	
	text-decoration: none;
	padding-bottom: 3px;
}
#nav li{
	float: left;
	margin-right: 15px;
	font-size: 1.2em;
	border-right: 1px solid #555151;
	padding-right: 15px;
}
#nav li:last-child{
	border-right: none;
}
/* 切换导航 */
*{margin:0px;padding:0px;}
body{margin:0px;padding:0px;}
.tips{width:702px;margin:0 auto;line-height:24px;padding-top:10px;}
.bredcolor{color:#fff;}
.menuHolder {width:100px; height:100px; margin:0px 0 250px 0px; position:absolute;z-index:100;}
.menuHolder ul {padding:0; margin:0; list-style:none; position:absolute; left:0; top:0; width:0; height:0;}
.menuHolder ul li {border-radius:0 0 300px 0; width:0; height:0;}
.menuHolder ul li a {color:#000; text-decoration:none; font:bold 13px/30px arial, sans-serif; text-align:center; 
text-shadow: none;box-shadow:-5px 5px 5px rgba(0,0,0,0.3);
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
}
.menuHolder ul.p1 li {position:absolute; left:0; top:0;}
.menuHolder ul.p2 {z-index:-1;}
.menuHolder li.s1 div{
	transform: rotate(-45deg);
	position: absolute;
	top: 20px;
	left: 3px;
	font-size: 1.2em;
}
.menuHolder li.s1 > a {position:absolute; display:block; width:80px; height:80px; background:#c8c8c8; border-radius:0 0 80px 0;}
.menuHolder li.s2 > a {position:absolute; display:block; width:70px; padding-left:70px; height:140px; background:#ddd; border-radius:0 0 140px 0;}
.menuHolder ul ul {
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:rotate(90deg);
-moz-transform:rotateZ(90deg);
-ms-transform:rotate(90deg);
-o-transform:rotate(90deg);
transform:rotate(90deg);
-webkit-transition:1s;
-moz-transition:1s;
-ms-transition:1s;
-o-transition:1s;
transition:1s;
}

.menuHolder li.s2:nth-of-type(3) > a {background:#bbb;
-webkit-transform:rotate(60deg);
-moz-transform:rotateZ(60deg);
-ms-transform:rotate(60deg);
-o-transform:rotate(60deg);
transform:rotate(60deg);
}
.menuHolder li.s2:nth-of-type(1) > a:hover{
	margin-top: -3px;
}
.menuHolder li.s2:nth-of-type(2) > a {
background:#ccc;
-webkit-transform:rotate(45deg);
-moz-transform:rotateZ(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}
.menuHolder li.s2:nth-of-type(2) > a:hover{
	margin-top: -1px;
	margin-left: 3px;
}
.menuHolder li.s1:hover ul.p2 {
-webkit-transform:rotate(0deg);
-moz-transform:rotateZ(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);
}

.menuHolder ul li:hover > a {background:#516886; color:#fff;}
.menuHolder li.s2:hover > a {background:#7197d4; color:#fff;}

.menuWindow {width:110px; height:110px; overflow:hidden; position:absolute; left:0; top:0; z-index:100;
-webkit-transition:0s 1s;
-moz-transition:0s 1s;
-ms-transition:0s 1s;
-o-transition:0s 1s;
transition:0s 1s;
}
.menuHolder:hover .menuWindow {width:200px; height:200px;
-webkit-transition:0s 0s;
-moz-transition:0s 0s;
-ms-transition:0s 0s;
-o-transition:0s 0s;
transition:0s 0s;
}
.menuHolder span {display:block; 
-webkit-transform:rotate(25deg);
-moz-transform:rotateZ(25deg);
-ms-transform:rotate(25deg);
-o-transform:rotate(25deg);
transform:rotate(25deg);
font-size: 1.1em;
margin-top: 25px;
}
.menuHolder ~ img.close {width:0; height:0; position:fixed; z-index:-1; left:0; top:0;}
.menuHolder:hover ~ img.close {width:100%; height:100%;}
