body,html{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
}
.title,a{
	color: #555151;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
header{
	height: 15%;
	box-sizing: border-box;
	width: 1100px;
	margin: 0 auto;
	font-family: "微软雅黑";
	padding-top: 20px;
	padding-bottom: 20px;
}
#left{
	float: left;
	width: 300px;
	height: 100%;
	margin-left: 30px;
}
.logo{
	float: left;
	width: 80px;
	height: 80px;
	background: url(../img/logo.png) 0px no-repeat;
	background-size:100% ;
}
.title{
	float: left;
	width: 150px;
	height: 80px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.title p {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 2em;
	letter-spacing: 5px;
}
.title a{
	font-size: 14px;
	margin-right: 10px;
}
#nav{
	float: right;
	width: 480px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#nav li{
	float: left;
	margin-right: 15px;
	font-size: 1em;
	border-right: 1px solid #BCB7B7;
	padding-right: 15px;
}
#nav li:last-child{
	border-right: none;
}
#nav a{
	color: #555151;
	font-size: 1.2em;
}
#nav a:hover{
	color: #000000;
	border-bottom: 1px solid #555151;
	text-decoration: none;
	padding-bottom: 3px;
}
#main{
	
	width: 1100px;
	height: 80%;
	margin: 0 auto;
	position: relative;
}
#img{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	z-index: -100;
	position: relative;
	overflow: hidden;
}
#img:before{
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: absolute;
	left: 0;
	top: 0;
}
.pic{
	width: 50%;
	height: 50%;
	float: left;
}
#img>div:first-of-type{
	background: url(../img/2yqlp9ccfw.jpg) 0px no-repeat;
	background-size: cover;
}
#img>div:nth-child(2){
	background: url(../img/29u97c3z6a.jpg) 0px no-repeat;
	background-size: cover;
}
#img>div:nth-child(3){
	background: url(../img/2mwu1gjtqg.jpg) 0px no-repeat;
	background-size: cover;
}
#img>div:last-child{
	background: url(../img/23dru2na5d.jpg) 0px no-repeat;
	background-size: cover;
}
#center {
	width: 300px;
	height: 100%;
	position: absolute;
	color: #ffffff;
	top: 0;
	left: 50%;
	margin-left: -150px;
	font-family: "微软雅黑";
}
#circle {
	width: 200px;
	height: 200px;
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	margin-left: 50px;
}
#shsjc{
	width: 100px;
	height: 100px;
	background: url(../img/shsjc.png) 0px no-repeat;
	background-size: cover;
	margin: 40px auto 10px;
}
#circle span{
	font-size: 1.5em;
	color: #555151;
	letter-spacing: 8px;
	margin-left: 50px;
}
#center p {
	font-size: 1.6em;
	letter-spacing: 5px;
	font-family: "幼圆";
	width: 260px;
	position: absolute;
	left: 50%;
	margin-left: -130px;
	top: 75%;
}
#center a {
	color: #ffffff;
	font-size: 1.5em;
	letter-spacing: 5px;
	border: 2px solid #ffffff;
	width: 200px;
	height: 30px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 85%;
}
#center a:hover{
	text-decoration: none;
	color: #555151;
	background: #FFFFFF;
}
footer{
	height: 30px;
	line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 300;
    font-size: 13px;
}
