@font-face {
	font-family:"COO";
	src: url("../fonts/Copperplate-Gothic-Bold.ttf");
}
body,html{
	height: 100%;
	width: 100%;
}
#main{
	width: 100%;
	height: 100%;
	/*background: lightcoral;*/
}
/*瀵艰埅*/
#nav{
	float: right;
	width: 480px;
	height: 50px;
	padding-top: 30px;
}
#nav li{
	float: left;
	margin-right: 15px;
	font-size: 1em;
	border-right: 1px solid #BCB7B7;
	padding-right: 15px;
}
#nav li:last-child{
	border-right: none;
}
#nav a{
	color: #555151;
}
#nav a:hover{
	color: #000000;
	border-bottom: 1px solid #555151;
	text-decoration: none;
	padding-bottom: 3px;
}
/*鍥剧墖*/
#left{
	width: 30%;
	height: 550px;
	background: url(../img/jump_02.png) 0px no-repeat;
	background-size: cover;
	float: left;
	margin-top: 10%;
}
/*淇℃伅鎬绘澘鍧�*/
#right{
	float: right;
	width: 70%;
	margin-top: 5%;
}
/*姘旀场妗�*/
#bubble{
	width: 50%;
	height: 50px;
	background: #47525d;
	margin: 0 auto;
	position: relative;
	color: #ffffff;
}
#bubble:after{
	content: "";
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 20px solid #47525d;
	border-left: 20px solid transparent;
	border-right: 40px solid transparent;
	position: absolute;
	bottom: -19px;
	left: 10%;
	z-index: 1;
}
#bubble p{
	font-size: 1.8em;
	font-family: "Coo";
	letter-spacing: 1px;
	margin-left: 10%;
	line-height: 50px;
}
/*淇℃伅*/
#panel{
	height: 465px;
}
#box {
	width: 100%;
	margin-top: 27px;
	padding-left: 15%;
	font-size: 1.1em;
	letter-spacing: 1px;
	line-height: 2.5em;
	height: 90%;
}
.line {
	width: 50%;
	float: left;
	position: relative;
	padding: 10px 0;
}
#box div:first-of-type::before {
	content: "";
	width: 100%;
	height: 1px;
	background: #808080;
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: -20%;
	border-radius: 100%;
}
#box div:first-of-type::after {
	content: "";
	width: 1px;
	height: 60%;
	background: #808080;
	z-index: 1;
	position: absolute;
	bottom: -10%;
	left: -10%;
	border-radius: 100%;
}
#box div:last-of-type::before {
	content: "";
	width: 100%;
	height: 1px;
	background: #808080;
	z-index: 1;
	position: absolute;
	top: 0;
	right: -10%;
	border-radius: 100%;
}
#box div:last-of-type::after {
	content: "";
	width: 1px;
	height: 75%;
	background: #808080;
	z-index: 1;
	position: absolute;
	top: -10%;
	right: 0;
	border-radius: 100%;
}
#box label{
	width: 100%;
	font-weight: 500;
}
#box p{
	display: inline;
}
#box span{
	width: 70%;
	display: inline-block;
}
.tip{
	display: inline-block;
	margin-left: 15%;
	margin-top: 2%;
	color: #479be3;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,.2);*/
}
.vital{
	color: red;
	font-size: 1.2em;
	line-height: 1.2em;
}
#panel input[type="button"]{
	float: right;
	background: transparent;
	border: 1px solid #000000;
	padding: 5px 10px;
	margin-right: 20px;
	margin-top: 5px;
}
#panel input[type="submit"]{
	float: right;
	background: transparent;
	border: 1px solid #000000;
	padding: 5px 10px;
	margin-right: 20px;
	margin-top: 5px;
}
#finish, #cancel{
	display: none;
}
.revive{
	height: 35px;
}
/*绂佺敤鐘舵��*/
.form-control::-moz-placeholder{
	color: #000;
}
.form-control[disabled]{
	cursor: default;
	background-color: #fff;
}
.form-control{
	border: 1px solid transparent;
	box-shadow: none;
}
