@font-face {
	font-family:"halfling";
	src: url("../fonts/glyphicons-halflings-regular.ttf");
	src: url("../fonts/glyphicons-halflings-regular.eot");
}
@font-face {
	font-family:"Styllo";
	src: url("../fonts/WC_ROUGHTRAD_Bta.ttf");
}
@font-face {
	font-family:"Baron";
	src: url("../fonts/Baron Neue Black Italic.otf");
}
@keyframes flicker{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes show{
	from{opacity: 0;}
	to{opacity: 1;}
}

#header{
	width: 100%;
	height: 420px;
	background-color: #6EBAFF;
	position: relative;
	box-shadow:0px 4px 8px rgba(0,0,0,0.5);
}
#header:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
    border-right:100px solid transparent;
    border-top: 100px solid #6EBAFF;
	position: absolute;
	top: 469px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#header:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 103px solid transparent;
	border-right: 103px solid transparent;
	border-top: 103px solid rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 473px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -100;
	-webkit-filter: blur(3px); /* Chrome, Opera */
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);    
	filter: blur(3px);   ;
}

.title h1{
	font-family: "Baron";
	position: absolute;
	top: 30%;
	left: 10%;
	font-size: 55px;
	letter-spacing:4px;
	line-height: 55px;
	text-shadow: 2px 2px 1px rgba(0,0,0,.3);
	cursor: pointer;
}


#logo {
	width: 200px;
	height: 200px;
	background: url(../img/logo.png) 50% no-repeat;
	background-size: 100%;
	right: 25%;
	top: 10%;
	position: absolute;
	animation-name:flicker;
  	animation-duration: 3.6s;
  	animation-timing-function:ease-in-out;
  	animation-delay: 2s;
	animation-iteration-count:infinite;
}
#logo:hover{
	animation-play-state: paused;
}
#intro{
	font-size: 20px;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	position: absolute;
	left: 20%;
	bottom: 20%;
	animation-name: show;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.login-btn {
	font-family: '微软雅黑';
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: rgba(88,146,232,0.9);
	color: #fff;
	text-align: center;
	display: block;
	line-height: 100px;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	margin: 130px auto 0;
}

.login-btn:hover {
	background-color: white;
	color: rgb(88, 146, 232);
	border-color: rgb(88, 146, 232);
	border-style: solid;
	border-width: 1px;
}

.bubble {
	width: 120px;
	height: 60px;
	background-color: cornflowerblue;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 25px;
	left: 150px;
	top: 20px;
	position: absolute;
	opacity: 0;
}
.bubble:before {
	content: "";
	position: absolute;
	right: 98%;
	top: 17px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 13px solid cornflowerblue;
	border-bottom: 13px solid transparent;
	opacity: 0;
}

.bubble p {
	line-height: 60px;
	color: #FFFFFF;
	padding-left: 8px;
	font-size: 15px;
}

.login-btn:hover .bubble {
	opacity: 1;
}
.login-btn:hover .bubble:before {
	opacity: 1;
}

#mask {
	background: #000;
	opacity: 0.75;
	filter: alpha(opacity=75);
	/*IE兼容*/
	height: 1000px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
}

#close {
	width: 20px;
	height: 20px;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.6;
	z-index: 2000;
}

#login {
	position: fixed;
	z-index: 1001;
}

.loginCon {
	position: relative;
	width: 380px;
	height: 330px;
	background: #F2F0F1;
	z-index: 1001;
	border-radius: 5px;
}

#login_center {
	width: 380px;
	height: 330px;
	position: relative;
}
#login_center span {
	position: absolute;
	width: 100%;
	height: 65px;
	background-color: rgba(255,255,255,0);
	padding-top: 20px;
	text-align: center;
}
#login_center h1{
	font-family: "Styllo";
	color: #FFF;	
	text-shadow: 1px 1.5px 1px rgba(0,0,0,.4);
	font-size: 3em;
	letter-spacing: 3px;
/*	font-weight: 700;*/
}

#login_center form {
	position: relative;
	top: 110px;
	left: 80px;
	width: 60%;
}
#close i{
	width: 20px;
	height: 20px;
	color: #000000;
}
#username:before{
	content: "";	
}

#login_center input[type="text"],#login_center input[type="password"]{
	padding-left: 30px;
}

#user-icon {
	position: absolute;
	top: 10px;
	left: 8px;
}
#lock{
	position: absolute;
	top: 67px;
	left: 8px;
}
.icon{
	color: #7BACF4;
	font-size: 17px;
}
ul {
	position: absolute;
	margin-left: 30px;
}
ul li{
	list-style-type: none;
	float: left;
	margin-left: 18px;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight:100;
}
.bottom {
	width: 100%;
	height: 60px;
	background-color: rgba(88, 146, 232, 0);
	position: absolute;
	top: 150px;
	border: none;
	font-size: 25px;
	color:#fff;
	font-family: "Styllo";
	text-shadow: 2px 1px 2px rgba(0, 0, 0, .3);
	letter-spacing: 3px;
	/*font-weight: 700;*/
}
.twoline{
	position: absolute;
	width: 100%;
	height: 80px;
	bottom: 0;
	z-index: -100;
}
.line-1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color:  rgba(110,186,255,0.9);
}
.line-2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgb(110,186,255);
	border-radius: 0 0 5px 5px;
}
#login-top{
	position: absolute;
	top:0;
}
