body,html{
	height: 100%;
	width: 100%;
	font-family: "寰蒋闆呴粦";
}
#main{
	width: 100%;
	height: 100%;
	background-color: #9dbce4;
}

#add{
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	color: #FFFFFF;
	font-size: 1.3em;
}
#add p:first-child{
	position: absolute;
	top: 110px;
	right: 100px;
}
#add p:last-of-type{
	position: absolute;
	top: 135px;
	right: 50px;
}
#add div:first-of-type{
	position: absolute;
	top: 165px;
	right: 90px;
	border: solid 1px #FFFFFF;
	width: 22px;
	height: 20px;
	border-bottom-right-radius: 100px 100px;
	border-left-style: none;
	border-top-style: none;
}
#add div:nth-of-type(2){
	position: absolute;
	top: 165px;
	right: 75px;
	border: solid 1px #FFFFFF;
	width: 65px;
	height: 75px;
	border-bottom-right-radius: 105% 100%;
	border-left-style: none;
	border-top-style: none;
	transform: rotate(5deg);
}
#help{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 371px;
	height: 508px;
	background: url(../img/help.png) 0px no-repeat;
	background-size: 100%;
}
#register-card{
	box-sizing: border-box;
	width: 43%;
	height: 80%;
	background-color: #FFFFFF;
	box-shadow: 3px 3px 8px rgba(0,0,0,.5);
	float: right;
	margin-top: 100px;
	margin-right: 100px;
	font-size: 1.5em;
	line-height: 1.5em;
	letter-spacing: 5px;
	padding-left: 70px;
	padding-top: 60px;
	position: relative;
}
label{
	font-weight: 500;
}
#wrap{
	position: absolute;
	width: 30%;
	height: 155px;
	top: -8px;
	left: -8px;
	overflow: hidden;
}
#wrap:before {
    content: "";
    display: block;
    border-radius: 8px 8px 0px 0px;
    width: 40px;
    height: 8px;
    position: absolute;
    left: 100px;
    background: #4D6530;
}
#wrap:after {
    content: "";
    display: block;
    border-radius: 8px 0px 0px 8px;
    width: 8px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 100px;
    background: #4D6530;
}
#ribbon {
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 30px;
	left: -50px;
	z-index: 2;
	overflow: hidden;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	border: 1px dashed #FFFFFF;
	box-shadow: 0 0 0 3px #516886, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
	background: #516886;
	color: #FFFFFF;
}
.form-group-sm{
	margin: 5px auto;
}
.form-control{
	display: inline-block;
	width: 55%;
	padding:6px;
	border:1px solid #d3d3d3;
}
.input{
	width: 40%;
	padding:6px;
	border:1px solid #d3d3d3;
}
input[type="text"]:hover,.form-group-sm textarea:hover,select:hover{
	box-shadow: 0px 0px 5px rgb(149,199,239);
}
.form-group-sm textarea{
	width: 90%;
	resize: none;
	min-height: 160px;
}
.radius {
	width: 130px;
	border-radius: 5px;
	/*appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;*/
	text-align: center;
	font-family: "寰蒋闆呴粦";
}
/*form{
	position: relative;
}*/
#btn-sub{
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -35px;
}
input[type="submit"]{
	background: #FFFFFF;
	width: 70px;
	border: 1px solid #516886;
	border-radius: 5px;
	padding: 7px 8px 8px 23px;
	font-family: "寰蒋闆呴粦";
	cursor: pointer;
	font-size: 0.9em;
}
/*input[type="submit"]:hover{
	background: #000000;
	border: 1px solid #516886;
}
input[type="submit"]:hover + i{
	background: transparent;
	color: #FFFFFF;
}*/
.pac i{
	position: absolute;
	left: 10px;
	top: 11px;
	font-size: 0.8em;
}

/*--------淇敼椤甸潰--------*/
/*-----鎼滅储鏍�------*/
#search{
	width: 36%;
	height: 80px;
	margin-top: 100px;
	display: inline-block;
	margin-left: 32%;
	position: relative;
}
@keyframes flicker{
	0%{
		opacity: 1;
	}
	20%{
		opacity: 0;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}
#search p{
	float: right;
	margin-top: 5px;
	margin-right: 60px;
	color: #555151;
	animation-name: flicker;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-delay: 2s;
	animation-duration: 3s;
}
#scon{
	width: 90%;
	height: 30px;
	border-radius: 8px;
	border: 1px solid #eee;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	padding-left: 10px;
	box-sizing: border-box;
}
#sbtn{
    width: 50px;
    height: 30px;
    margin-left: -8px;
    border: 1px solid #516886;
    border-left: none;
    background: #516886;
    color: #fff;
    letter-spacing: 5px;
    font-family: "榛戜綋";
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    border-radius: 0 8px 8px 0;
    position: absolute;
    right: 4px;
    padding: 2px 2px 2px 8px;
    font-size: 1.1em;
}
/*------娲诲姩鏄剧ず------*/
#query{
	width: 30%;
	height: 65%;
	margin-left: 12%;
	position: relative;
	border-right: 1px solid #fff;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	display: none;
}
#scroll{
	width: 120%;
	height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
}
#query li{
	color: #47525d;
	line-height: 2.5em;
	font-size: 1.3em;
	letter-spacing: 3px;
	display: inline-block;
	border-bottom: 2px dashed #dcdcdc;
	width: 75%;
	padding-left: 10%;
	cursor: pointer;
}
#query p{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #6c7378;
}
.more {
	position: absolute;
	right: 0;
	bottom: 20px;
	display: block;
	width: 34px;
	height: 34px;
}
.more b {
	background: url(../img/tobottom2.png);
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-animation: start 1.5s infinite ease-in-out;
	animation: start 1.5s infinite ease-in-out;
	background-size: cover;
}
/* 绠ご */
@-webkit-keyframes start {
	 0%, 30% {
	opacity: 0.2;
	-webkit-transform: translate(0, -5px);
	}
	 60% {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	}
	 100% {
	opacity: 0.2;
	-webkit-transform: translate(0, 5px);
	}
}
 @keyframes start {
	0%,30% {
	opacity: 0.2;
	transform: translate(0, -5px);
	}
	 60% {
	opacity: 1;
	transform: translate(0, 0);
	}
	 100% {
	opacity: 0.2;
	transform: translate(0, 5px);
	}
}
/*鍏蜂綋淇敼*/
#acal{
	width: 35%;
	height: 65%;
	float: left;
	margin-left: 70px;
	font-size: 1.3em;
	line-height: 1.5em;
	position: relative;
	display: none;
}
#acal form{
	margin-top: -5px;
}
#acal .form-group-sm{
	margin-top: 12px;

}
#acal input[type="text"],#acal textarea,#acal select{
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px rgba(0,0,0,.3);
	margin-right: 10px;
	background: #fbfbfb;
}
#acal textarea{
	width: 100%;
	min-height: 120px;
}
#acal label{
	margin-right: 10px;
	color: #516886;
	text-shadow: 2px 2px 2px rgba(255,255,255,.6);
}
#acal select{
	height: 30px;
	padding: 1px;
	width: 100px;
	margin-left: 10px;
	font-size: 0.9em;
}
#btn-sub2{
	width: 150px;
	height: 30px;
	margin: 30px auto 0;
}
#btn-sub2 input[type="submit"]{
	background: #FFFFFF;
	width: 70px;
	border: 1px solid #516886;
	border-radius: 5px;
	padding: 6px 0 6px 12px;
	font-family: "寰蒋闆呴粦";
	cursor: pointer;
	height: 30px;
}
#btn-sub2 input[type="button"]{
	width: 70px;
	height: 30px;
	font-family: "寰蒋闆呴粦";
	padding: 6px 0 6px 12px;
	border-radius: 5px;
	border: 1px solid #516886;
	background: #fff;
}
#btn-sub2 input[type="button"]:hover{
	background-color: #516886;
    color: #FFFFFF;
}
#btn-sub2 input[type="button"]:hover + i{
	color:#FFFFFF;
}
.icon{
	position: relative;
	float: left;
}
#btn-sub2 div:first-of-type{
	margin-right: 10px;
}
