<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width,initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1"/>
		<link rel="stylesheet" type="text/css" href="。。/css/uikit.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/student.css"/>
		<title>社会实践管理系统</title>
	</head>
	<body>
		<div class="container">
			<div class="in-container">
				<!--导航-->
				<input type="radio" name="radio" id="in-control-1" checked="checked" />
				<a href="#in-content-1">活动公告</a>
				<input type="radio" name="radio" id="in-control-2"  />
				<a href="#in-content-2">活动申报</a>
				<input type="radio" name="radio" id="in-control-3"  />
				<a href="#in-content-3">历史活动</a>
				<input type="radio" name="radio" id="in-control-4"  />
				<a href="#in-content-4">活动报名</a>
				<input type="radio" name="radio" id="in-control-5"  />
				<a href="#in-content-5">个人信息</a>
				<!--功能页切换-->
				<div id="logining"></div>
				<div class="in-change">					
					<div class="in-page" id="in-content-1">
						<div class="pagename" id="notice">  <!--三角-->
							<i class="uk-icon-volume-up"></i> <!--图标-->
						</div>
						<div id="play">  <!--在这里面玩-->
							<p><br><{$act}></p>
						</div>							
					</div>
					<div class="in-page pagecolor" id="in-content-2">
						<div class="pagename">
							<i class="uk-icon-hand-paper-o"></i>
						</div>
					</div>
					<div class="in-page" id="in-content-3">
						<div class="pagename">历史活动</div>
					</div>
					<div class="in-page pagecolor" id="in-content-4">
						<div class="pagename">活动评价</div>
					</div>
					<div class="in-page" id="in-content-5">
						<div class="pagename">个人信息</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	</html>
